<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A guide for coding with SQL">
    <meta name="keywords" content="SQL, Coding Guide, Programming">
    <meta name="author" content="Your Name">
    <title>SQL Coding Guide</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/themes/prism.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/components/prism-sql.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <header>
        <div class="container">
            <img style="    width: 120px; height: 120px;" src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
            <h1>SQL Coding Guide</h1>
            <nav>
                <ul>
                    <li><a href="https://github.com/AnhTai1995">Github</a></li>
                    <li><a href="https://www.linkedin.com/in/anh-tai-b04278119/">Linkedin</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="left-column">
            <section>
                <h2>Description</h2>
                <p>This is where I use to store and search for commonly used SQL statements in the project. I will be happy if someone uses it to manage their sql. Thanks a lot !!!</p>
            </section>

            <section>
                <h2>List SQL</h2>
                <div class="search-box">
                    <input type="text" id="searchInput" onkeyup="filterCodes()" placeholder="Search for SQL...">
                    <button onclick="filterCodes()">Search</button>
                </div>
                <div id="sql-list">
                    <!-- SQL code blocks will be appended here -->
                </div>
            </section>
        </div>
        
        <div class="right-column">
            <section style="padding-right: 15px;" id="add-new">
                <h2>Add New SQL Code</h2>
                <div class="new-sql-form">
                    <label for="newSqlTitle">Title:</label>
                    <input type="text" id="newSqlTitle" placeholder="Enter title for the SQL code">
                    <label for="newSqlCode">SQL:</label>
                    <textarea id="newSqlCode" placeholder="Write your SQL code here..."></textarea>
                    <label for="newSqlKeywords">Keywords for search:</label>
                    <input type="text" id="newSqlKeywords" placeholder="Enter keywords for the SQL code">
                    <input type="button" value="Add SQL Code" onclick="addSqlCode()">
                </div>
            </section>
        </div>
    </main>

    <!-- Modal for editing SQL code -->
    <div id="editModal" class="modal">
        <div class="modal-content">
            <span class="modal-close" onclick="closeModal()">&times;</span>
            <h2>Edit SQL</h2>
            <div class="edit-sql-form">
                <input type="hidden" id="editSqlId">
                <label for="editSqlTitle">Title:</label>
                <input type="text" id="editSqlTitle" placeholder="Enter title for the SQL code">
                <label for="editSqlCode">SQL:</label>
                <textarea id="editSqlCode" placeholder="Write your SQL code here..."></textarea>
                <label for="editSqlKeywords">Keywords for search:</label>
                <input type="text" id="editSqlKeywords" placeholder="Enter keywords for the SQL code">
                <input type="button" value="Save Changes" onclick="saveSqlCode()">
            </div>
        </div>
    </div>
    <button id="backToTopBtn" class="back-to-top-btn" title="Back to top">&uarr;</button>

    <script>
          // Sample SQL data
        let sqlEntries = [];

        // Function to add a new SQL code entry
        function addSqlCode() {
            const title = document.getElementById('newSqlTitle').value.trim();
            const code = document.getElementById('newSqlCode').value.trim();
            const keywords = document.getElementById('newSqlKeywords').value.trim();
            
            if (!title || !code || !keywords) {
                alert('Please fill in all fields');
                return;
            }

            const data = {
                title: title,
                code: code,
                keywords: keywords
            };

            fetch('/add_sql', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // Add the new entry to the UI or perform any necessary actions
                    console.log('New SQL code added:', data.entry);
                    document.getElementById('newSqlTitle').value = "";
                    document.getElementById('newSqlCode').value = "";
                    document.getElementById('newSqlKeywords').value = "";
                    alert('Add new sql success!');
                    fetchAllSqlCodes(); // Refresh the SQL list
                } else {
                    alert('Failed to add SQL code');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Failed to add SQL code');
            });
        }

        // Update data
        function saveSqlCode() {
            let id = document.getElementById('editSqlId').value;
            let title = document.getElementById('editSqlTitle').value.trim();
            let code = document.getElementById('editSqlCode').value.trim();
            let keywords = document.getElementById('editSqlKeywords').value.trim();

            fetch('/update_sql', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ id, title, code, keywords })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    fetchAllSqlCodes(); // Refresh the SQL list
                    closeModal(); // Close modal after saving
                } else {
                    alert('Failed to save SQL code.');
                }
            })
            .catch(error => console.error('Error saving SQL entry:', error));
        }

        // Function to delete an SQL code entry
        function deleteSql(id) {
            if (confirm('Are you sure you want to delete this SQL entry?')) {
                const data = { id: id };
                fetch('/delete_sql', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        fetchAllSqlCodes();
                        // Remove the entry from the UI or perform any necessary actions
                        console.log('SQL code deleted:', id);
                    } else {
                        alert('Failed to delete SQL code');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Failed to delete SQL code');
                });
            }
        }

        // Search keyword
        function filterCodes() {
            let searchInput = document.getElementById('searchInput').value.toLowerCase();
            // call API
            fetch(`/search_sql?query=${searchInput}`)
                .then(response => response.json())
                .then(data => {
                displayFilteredEntries(data);
                })
                .catch(error => console.error('Error fetching SQL entry:', error));
        }

        // Function to display filtered SQL entries
        function displayFilteredEntries(data) {
            let sqlList = document.getElementById('sql-list');
                    sqlList.innerHTML = '';
                    
                    // Iterate through each SQL entry and create HTML elements
                    data.forEach(code => {
                        const codeBlockContainer = document.createElement('div');
                        codeBlockContainer.className = 'code-block-container';

                        const codeBlockHeader = document.createElement('div');
                        codeBlockHeader.className = 'code-block-header';
                        codeBlockHeader.innerHTML = `
                            <span class="code-block-title">${code.title}</span>
                            <i class="arrow-icon fas fa-angle-down" onclick="toggleCodeBlock(this)"></i>
                        `;

                        let codeBlockContent = document.createElement('div');
                        codeBlockContent.classList.add('code-block', 'minimized');
                        //codeBlock.className = 'code-block';
                        codeBlockContent.innerHTML = `
                            <pre><code class="language-sql">${code.code}</code></pre>
                            <button onclick="openModal(${code.id})">Edit</button>
                            <button onclick="deleteSql(${code.id})">Delete</button>
                            <button class="copy-button" onclick="copyToClipboard(${code.id})">Copy</button>
                        `;
                        codeBlockContainer.appendChild(codeBlockHeader);
                        codeBlockContainer.appendChild(codeBlockContent);
                        sqlList.appendChild(codeBlockContainer);
                    });


            Prism.highlightAll();
        }

        // function toggleCodeBlock(element) {
        //     const codeBlock = element.parentElement;
        //     codeBlock.classList.toggle('minimized');
        //     codeBlock.classList.toggle('expanded');
        // }

        function toggleCodeBlock(icon) {
        const content = icon.parentElement.nextElementSibling;
        if (content.classList.contains('expanded')) {
            content.classList.remove('expanded');
            icon.classList.remove('fa-angle-up');
            icon.classList.add('fa-angle-down');
        } else {
            content.classList.add('expanded');
            icon.classList.remove('fa-angle-down');
            icon.classList.add('fa-angle-up');
        }
}

        // Function to open the modal with specific SQL entry data
        function openModal(id) {
            fetch(`/get_sql_entry?id=${id}`)
                .then(response => response.json())
                .then(data => {
                    console.log('SQL entry:', data); // Debugging: log fetched SQL entry

                    // Populate modal fields with SQL entry data
                    document.getElementById('editSqlId').value = data.id;
                    document.getElementById('editSqlTitle').value = data.title;
                    document.getElementById('editSqlCode').value = data.code;
                    document.getElementById('editSqlKeywords').value = data.keywords;

                    // Display the modal
                    document.getElementById('editModal').style.display = 'block';
                })
                .catch(error => console.error('Error fetching SQL entry:', error));
        }


        function closeModal() {
            document.getElementById('editModal').style.display = 'none';
        }


        function fetchAllSqlCodes() {
            fetch('/get_sql')
                .then(response => response.json())
                .then(data => {
                    displayFilteredEntries(data.codes);
                })
                .catch(error => console.error('Error fetching SQL codes:', error));
        }

        function setupBackToTopButton() {
        const backToTopBtn = document.getElementById('backToTopBtn');

        // Show or hide the button based on scroll position
        window.addEventListener('scroll', () => {
            if (window.scrollY > 200) { // Show the button after scrolling down 200px
                backToTopBtn.style.display = 'block';
            } else {
                backToTopBtn.style.display = 'none';
            }
        });

        // Scroll to the top when the button is clicked
        backToTopBtn.addEventListener('click', () => {
            window.scrollTo({ top: 0, behavior: 'smooth' });
        });
}

        // Fetch SQL codes on page load
        document.addEventListener('DOMContentLoaded', function() {
            setupBackToTopButton(); // Setup back to top button functionality
            fetchAllSqlCodes(); // Fetch SQL codes when the page loads
        });

        //Quick copy content
        function copyToClipboard(id) {
            fetch(`/get_sql_entry?id=${id}`)
                .then(response => response.json())
                .then(sqlEntry => {
                    const text = sqlEntry.code;

                    // Create a temporary textarea element to copy the text
                    const tempTextArea = document.createElement('textarea');
                    tempTextArea.value = text;
                    document.body.appendChild(tempTextArea);
                    tempTextArea.select();
                    try {
                        document.execCommand('copy');
                        alert('SQL code copied to clipboard');
                    } catch (err) {
                        console.error('Error copying to clipboard:', err);
                    }
                    document.body.removeChild(tempTextArea);
                })
                .catch(error => console.error('Error fetching SQL entry:', error));
        }

    </script>
</body>
</html>
    
